@import "../stylesAssets/colors.scss";
@import "../stylesAssets/responsive.scss";

.screenContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
}
