$brand-color: #f69c3b;
$primary: #ffffff;
$secondary: #f7f9f9;
$secondary-hovered: #eff3f4;
$hovered-color: #fca447;
$text-primary: #000000;
$text-secondary: #929db2;
$text-white: #ffffff;
$text-secondary-hovered: #6f7e89;
